body {
    background-color: rgba(13, 41, 41, 0.7);
}

i {
    font-size: 1.3em;
    padding: 0 10px;
}

.bg {
    background-color: rgb(13, 41, 41)
}

.text {
    color:whitesmoke;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.5em;
    font-size: larger;
}

.material-icons{
    margin: 0 1em;
}

.txt {
    color: whitesmoke !important;
    font-family: 'Cinzel', serif;
    letter-spacing: 0.1em;
}

.pages {
    margin:0 2em;
    display: flex;
    
}

.pagination {
    margin-bottom: 0 !important;
    padding: 1em !important;
}

.d-flex {
    margin-bottom: 0 !important;
}

.productsList {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap:20px;
    
}

.list-align {
    display: flex;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap:20px;
    margin-top: 20px;  
}

.card-body {
    text-align: center;
    background-color: rgb(65 82 82);
    color: rgba(245, 245, 245, 0.7);
    border: solid 1px #555;
    box-shadow: 10px 5px 5px rgb(0,0,0,0.6);

}

.card {
    border: none;
    display: flex;
}

.card-img-top {
    /* object-fit: contain; */
    justify-items: center;
    box-shadow: 10px 5px 5px rgb(0,0,0,0.6);
}

.dropdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-link {
    background-color: rgba(13, 41, 41, 0.5);
    color:rgba(245, 245, 245, 0.7);
}

.list-group-item {
    background-color: rgba(13, 41, 41, 0);
    color: rgba(245, 245, 245, 0.7);
    border: none;
    
}

.listOfProducts {
    color:whitesmoke;
    margin-left: 18px;
    letter-spacing: 0.1em;
}

.sortItems, .items {
    display: block;
    width: 20%;
    margin: 20px auto 40px;
    color: whitesmoke;
}

.items {
    text-align: center;
}

.sortBy, .perPage {
    margin-top:5px;
    color:rgba(13, 41, 41, 0.6);
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.6);
    border: none;
    display: inline-block;
    }

.perPage {
    width: 55%;
}

.navbar-brand {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

.filterByType {
    cursor:pointer;
}

.listOfProducts {
    cursor:pointer;
}

.activeLink {
    text-decoration: underline;
}

.footerContact {
    display: flex;
    background:rgb(13, 41, 41);
    margin-bottom:0;
    color: rgba(245, 245, 245, 0.637);
    justify-content: space-between;
    border-top:2px solid #B18448;
    padding: 10px 20px;
    font-family: 'Cinzel', serif;
    font-weight: 800;
}

.infoDiv {
    display: flex;
    padding: 5px 0;
}

.socialMediaInformation {
    margin-top: 30px;
}

.titleInfo {
    margin-left: 10px;
}

.socialMedia, .contactIcon {
    cursor: pointer;
}

.paginationColor {
    background-color: rgba(245, 245, 245, 0.2);
}

@media (max-width: 650px) {
    .productsList {
        grid-template-columns: 1fr;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .list-align {
        text-align: center;
    }
    .searchBarProducts {
        justify-content: center !important;
    }
}

